<!DOCTYPE html>
<html lang="en">
<style>
body {
    color:green;
    font-family: arial, serif;
    font-size:0.8em;
}
legend {
    color:blue;
    font-family:serif;
    font-size:1.8em;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>POST</title>
</head>
<body>
<h1><a href="https://www.primevideo.com/">movies</a></h1><br>
<h1><a href="https://news.google.com/?hl=en-IN&gl=IN&ceid=IN:en">news</a></h1><br>
<h1><a href="https://timesofindia.indiatimes.com/sports">sports</a></h1><br>

<a href="logo">logout</a>
</body>
</html>